#amber-btn {
  font-weight: 700;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 0;
  border: 1px solid #e01557;
}



 .back-to-top {
 background: none;
 position: fixed;
 margin: 0;
 bottom: 0;
 right: 0;
 width: 70px;
 height: 70px;
 z-index: 100;
 display: none;
 text-decoration: none;
 color: #e01557;
 }
  
 .back-to-top i {
 
 font-size: 60px;
 }
 
