{{ define "main" }}
{{ partial "sidebar.html" . }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background col-main-fixedpos">
  {{ partial "mobileNavToggle.html" . }}

            <div class="row">
                  <div class="col-sm-4">
                    <div class="image">
                      <img src="{{ .Site.BaseURL}}{{ .Params.image }}" class="img-responsive" alt="">
                    </div>
                  </div>

                  <div class="col-md-8">
                      <h2>{{ .Title }}</h2>
                          <p class="author-category">
                            {{ .Params.author }}
                          </p>
                          
                          <p class="date-comments">
                          <i class="fa fa-calendar-o"></i> {{ .Date.Format "January 2, 2006" }}
                          </p>
                  
                      </div>
                    </div>
                  </br>

<div class="row">
   <div class="content-column-content">
          <div class="col-lg-8">
{{ $body := replace .Content .Summary "" }}
{{ $body | safeHTML }}
         {{ .Content }}
       </div>
     </div>
   </div>





        <a href="#" class="back-to-top">
        <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>

        </a>

         {{ template "_internal/disqus.html" . }}
      </div>
   
{{ end }}