{{ define "main" }}
{{ partial "sidebar.html" . }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background col-main-fixedpos">
  {{ partial "mobileNavToggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content" id="blog-listing-medium">
         <h1>{{ .Title }}</h1>

         {{if eq .Title "Projects"}}
         <p class="author-category"> Each project in this portfolio includes links to data sources, the code I used for analysis, data visualizations, and my conclusions.</p>
         {{end}}


         {{if eq .Title "Blog"}}
         <p class="author-category"> I've been lucky enough to have found some amazing R blogs to help me through my programming difficulties. I hope that I can pay it forward and help other R learners as well. </p>
         {{end}}


          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
          {{ range $paginator.Pages }}
          <section class="post">
              <div class="row">
                  <div class="col-md-4">
                    <div class="image">
                        <a href="{{ .Permalink }}">
                            {{ if .Params.image }}
                            <img src="{{ .Site.BaseURL}}{{ .Params.image }}" class="img-responsive" alt="">
                            {{ else }}
                            <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                            {{ end }}
                        </a>
                    </div>
                  </div>
                  <div class="col-md-8">
                      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                      <div class="clearfix">
                          <p class="author-category">
                            {{ if isset .Params "author" }}
                            By <a href="../about/">{{ .Params.author }}</a>
                            {{ end }}
                            {{ if isset .Params "categories" }}
                            {{ if gt (len .Params.categories) 0 }}
                            in <a href="{{ $.Site.BaseURL }}categories/{{ index .Params.categories 0 | urlize | lower }}">{{ index .Params.categories 0 }}</a>
                            {{ end }}
                            {{ end }}

                          </p>
                          <p class="date-comments">
                              <a href="{{ .Permalink }}"><i class="fa fa-calendar-o"></i> {{ .Date.Format "January 2, 2006" }}</a>
                          </p>
                      </div>
                      <p class="intro">{{ .Summary }}</p>
                      <p class="read-more"><a id="amber-btn" href="{{ .Permalink }}" class="btn btn-template-main">Continue reading</a>
                      </p>
                  </div>
              </div>
          </section>
          {{ end }}

          <ul class="pager">
              {{ if .Paginator.HasPrev }}
              <li class="previous"><a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">&larr; Newer</a></li>
              {{ else }}
              <li class="previous disabled"><a href="#">&larr; Newer</a></li>
              {{ end }}

              {{ if .Paginator.HasNext }}
              <li class="next"><a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}">Older &rarr;</a></li>
              {{ else }}
              <li class="next disabled"><a href="#">Older &rarr;</a></li>
              {{ end }}
          </ul>


      </div>
    </div>
  </div>
</div>
{{ end }}
